td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .post-list{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5%;
      flex-direction: column;
  }